<div id="footer" class="panel" style="margin-top: 20px; background-color: #f8f9fa; border-top: 1px solid #ddd; margin-bottom: 0; padding-bottom: 0;">
	<div class="panel-footer" style="padding: 15px;">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-sm-4">
			<p>The AI Team is affiliated with BAuA, the German federal agency for occupational safety and health.</p>
		  </div>
		  <div class="col-sm-4">
			Please contact <a href="mailto:Vock.Silvia@baua.bund.de">Dr. Silvia Vock</a> for further information.<br />
		  </div>
		  <div class="col-sm-4">
			Bundesanstalt für Arbeitsschutz und Arbeitsmedizin<br />
			Fabricestraße 8<br />
			01099 Dresden<br />
			<a href="https://www.baua.de/DE/Home"> Website </a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
  
